<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Munhuolto.fi Email{% endblock %}</title>
    <style>
      body {
        background-color: #fff; /* Changed to white */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        background: #fff;
        padding: 32px;
        border-radius: 8px;
        max-width: 600px;
        margin: 40px auto;
      }
      .logo {
        width: 100px;
        display: block;
        margin-bottom: 24px;
      }
    </style>
  </head>
  <body>
    <!-- {% include 'header.html' %} -->
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <!-- {% include 'footer.html' %} -->
  </body>
</html>